{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title> My Gallery</title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}
</head>

<body>
        {% include "navbar.html" %}
    {% block content %} 
    <div class="container">
        <div class="jumbutron">
            <h1 style="text-align: center; font-family: 'Great Vibes', cursive;font-size: 50px; color: black;"class='text-center'>La Galería</h1>
        </div>
    </div>
    
    {%endblock%}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>