{%extends 'all_images/base.html'%}

{% block content %}
{{block.super}}

<body>

  <div class="container">
      <div class="row">

    {% for img in image %}
    
      <div class="col-md-4">
        <a data-toggle="modal" data-target="#{{img.id}}">
          <img style="margin-top:20px; margin-bottom:20px;" src="{{img.image.url}}" alt="Image" height="200"
            width="300"><br><br>
        </a>
      </div>


      <div id="{{img.id}}" class="modal fade" role="dialog"
        style="background-color:rgb(47, 61, 61);font-family: monospace;">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <p style="color:rgb(168, 105, 105);">{{img.name}}</p>
              <p class="modal-title"><strong>{{img.description}}</strong></p>
            </div>
            <div class="modal-body">
              <img src="{{img.image.url}}" alt="Image" width='400' length='500'>
              <p><strong>place: {{img.location}}</strong></p><br>
              <p><strong>category:</strong>{{img.category}}</p>
              <!-- The button used to copy the text -->
              <button onclick="myFunction()">Share</button>
              <textarea name="text" id="share" cols="30" rows="10">
              
              </textarea>
              <!-- <input class="form-control input-lg" type="text"
              value="http://127.0.0.1:8000{{image.photo.url}}" id="{{image.id}}-url"
              style="color: black;font-family: 'Acme', sans-serif;"> -->
            </div>
            <script>
              function myFunction() {
                /* Get the text field */
                var copyText = document.getElementById("myInput");
                /* Select the text field */
                copyText.select();
                /* Copy the text inside the text field */
                document.execCommand("copy");
                /* Alert the copied text */
                alert("Copied the text: " + copyText.value);
              };</script>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal"
                style="background-color:rgb(168, 105, 105);color:white;">Close</button>
            </div>
          </div>

        </div>
      </div>
      {% endfor %}
   
    </div>


  </div>
</body>

</body>
{% endblock %}